<div class="search-recipes-container" [ngClass]="{ 'dark-theme' : isDarkTheme(), 'light-theme' : !isDarkTheme()}">
  <div class="d-flex pt-4">
    <h3 class="mx-auto">Результаты поиска</h3>
  </div>
  <div class="row justify-content-center mx-2" *ngIf="!loading">
    <mat-card matRipple class="search-recipe-card-container mat-elevation-z4
      col-12 col-sm-12 col-md-auto" @items *ngFor="let recipe of getRecipes(); let i = index" (click)="openRecipe(i, recipe)">
      <div class="d-flex flex-row">
        <div mat-card-md-image class="rounded mr-3 search-card-avatar-image" [style.background-image]="getRecipeBackgroundImage(recipe)"></div>
        <div class="d-flex flex-column">
          <mat-card-title>{{recipe.name}}</mat-card-title>
          <mat-card-subtitle class="mb-0">
            <span>{{recipe.secondaryName}}</span>
            <div class="recipe-rating">
              <ng-template let-fill="fill" #r let-index="index">
                <span class="star-not-filled" [class.star-full]="fill === 100">
                  <span class="star-half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
              </ng-template>
              <ngb-rating class="mt-1 mt-sm-1 mt-md-2 mt-lg-2 mt-xl-2" [(rate)]="recipe.rate / recipe.commentCount" max="5" readonly="true" [starTemplate]="r"></ngb-rating>
              <p class="d-inline recipe-rate-count"> ({{recipe.commentCount}})</p>
            </div>
            <p class="mb-0 mt-1">Опубликовано {{transformEmail(recipe.userEmail)}}</p>
          </mat-card-subtitle>
        </div>
      </div>
    </mat-card>
  </div>
  <div *ngIf="loading" class="center-spinner w-100">
    <mat-spinner class="mx-auto" diameter="50" color="accent"></mat-spinner>
  </div>
  <div *ngIf="noContent" class="center-spinner d-flex flex-column w-100">
    <p class="mx-auto">По вашему запросу ничего не найдено</p>
    <button class="mx-auto" mat-button color="accent" (click)="goBack()">Вернуться</button>
  </div>
</div>
