.search-recipes-container {
}
.search-recipe-card-container {
  margin: .2rem!important;
}
.search-card-avatar-image {
  background-size: cover;
}
.star-not-filled {
  color: lightgray;
}
.dark-theme {
}
mat-card {
  cursor: pointer;
  min-width: 328px;
}
mat-card .last-child {
  margin-bottom: 0;
}
.center-spinner {
  position: absolute;
  left: 0;
  top: 50%;
}
.search-card-avatar-image {
  width: 100px;
  height: 100px;
}
mat-card-title {
  font-size: 14px;
  font-weight: bold;
}
mat-card-subtitle {
  display: block;
  font-size: 14px;
  p {
    font-size: 14px;
  }
  .star-not-filled {
    font-size: 0.85rem!important;
  }
}
.own-recipes-stat-holder {
  mat-icon {
    width: 1.2rem;
    height: 1.2rem;
    font-size: 1.2rem;
  }
  p {
    font-size: 14px;
  }
}

.delete-button-icon {
  display: none;
}
.delete-button-holder {
  margin-top: 1.5rem;
}

// mobiles
@media (min-width: 413px) and (max-width: 767px) {
  .search-recipe-card-container {
    margin: .15rem!important;
  }
  .search-card-avatar-image {
    width: 108px;
    height: 108px;
  }
  mat-card {
    min-width: auto;
  }
  mat-card-title {
    font-size: 16px;
    font-weight: bold;
  }
  mat-card-subtitle {
    display: block;
    font-size: 16px;
    p {
      font-size: 16px;
    }
    .star-not-filled {
      font-size: 1rem!important;
    }
  }
}
@media (min-width: 374px) and (max-width: 412px) {
  .search-recipe-card-container {
    margin: .125rem!important;
  }
  .search-card-avatar-image {
    width: 84px;
    height: 84px;
  }
  mat-card {
    min-width: auto;
  }
  mat-card-title {
    font-size: 12px;
    font-weight: bold;
  }
  mat-card-subtitle {
    display: block;
    font-size: 12px;
    p {
      font-size: 12px;
    }
    .star-not-filled {
      font-size: 0.75rem!important;
    }
  }
}
@media (max-width: 373px) {
  .search-recipe-card-container {
    margin: .125rem!important;
  }
  .search-card-avatar-image {
    width: 82px;
    height: 82px;
  }
  mat-card {
    min-width: auto;
  }
  mat-card-title {
    font-size: 12px;
    font-weight: bold;
  }
  mat-card-subtitle {
    display: block;
    font-size: 12px;
    p {
      font-size: 12px;
    }
    .star-not-filled {
      font-size: 0.65rem!important;
    }
  }
}
