<div class="user-recipes-container" [ngClass]="{ 'dark-theme' : isDarkTheme(), 'light-theme' : !isDarkTheme()}">
  <div class="row justify-content-center mx-2" *ngIf="!loading">
      <mat-card matRipple class="recipe-card-container mat-elevation-z4
      col-12 col-sm-12 col-md-auto" @items *ngFor="let recipe of recipes" (click)="openRecipe(recipe)">
        <div class="d-flex flex-row">
          <div mat-card-md-image class="rounded mr-3 card-avatar-image" [style.background-image]="getRecipeAvatarBGImage(recipe)"></div>
          <div class="d-flex flex-column">
            <mat-card-title>{{recipe.name}}</mat-card-title>
            <mat-card-subtitle class="mb-0">
              <span>{{recipe.secondaryName}}</span>
              <div class="recipe-rating">
                <ng-template let-fill="fill" #r let-index="index">
                <span class="star-not-filled" [class.star-full]="fill === 100">
                  <span class="star-half" [style.width.%]="fill">&#9733;</span>&#9733;
                </span>
                </ng-template>
                <ngb-rating class="mt-1 mt-sm-1 mt-md-2 mt-lg-2 mt-xl-2" [(rate)]="recipe.rate / recipe.commentCount" max="5" readonly="true" [starTemplate]="r"></ngb-rating>
                <p class="d-inline recipe-rate-count"> ({{recipe.commentCount}})</p>
              </div>
              <p *ngIf="isLikedComponent" class="mb-0 mt-1">{{recipePostedBy(recipe.userEmail)}}</p>
              <div *ngIf="!isLikedComponent" class="own-recipes-stat-holder d-flex flex-row mt-1">
                <mat-icon>visibility</mat-icon>
                <p class="mb-0 mr-1">{{recipe.viewed}}</p>
                <mat-icon>link</mat-icon>
                <p class="mb-0 mr-1">{{recipe.ad ? recipe.ad.clicked : 0}}</p>
                <mat-icon>favorite_border</mat-icon>
                <p class="mb-0 mr-1">{{recipe.liked}}</p>
              </div>
            </mat-card-subtitle>
          </div>
          <button mat-icon-button class="my-auto ml-auto delete-button-icon"
                  (click)="removeRecipeImpl(recipe)"><mat-icon class="my-auto">clear</mat-icon></button>
        </div>
        <div class="d-flex flex-row delete-button-holder">
          <button mat-stroked-button color="warn" class="mx-auto delete-button"
                  (click)="removeRecipeImpl(recipe)">Удалить</button>
        </div>
      </mat-card>
  </div>
  <div *ngIf="loading" class="center-spinner w-100">
    <mat-spinner class="mx-auto" diameter="50" color="accent"></mat-spinner>
  </div>
  <div *ngIf="noContent" class="center-spinner w-100 d-flex flex-column">
    <p class="mx-auto">{{getNoContentText()}}</p>
    <button class="mx-auto" mat-button color="accent" routerLink="{{getGoAwayLink()}}">{{getGoAwayText()}}</button>
  </div>
</div>
