<div class="ex_container row" [formGroup]="confirmEmailForm">
  <div class="col-10 col-sm-6 col-md-5 col-lg-4 col-xl-4 mx-auto">
    <p>На ваш электронный адрес было отправлено письмо с кодом подтвержения</p>
    <mat-form-field class="w-100">
      <input matInput placeholder="Введите код подтверждения" required formControlName="confirmEmail"
             (keyup.enter)="checkEmailAndRegister()">
      <mat-error *ngIf="confirmEmail.invalid">{{getErrorMsgCheckEmail()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-10 col-sm-6 col-md-5 col-lg-4 col-xl-4 mx-auto mt-4 row justify-content-center">
    <button mat-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-button color="accent" (click)="checkEmailAndRegister()" [disabled]="confirmEmailForm.invalid">Подтвердить</button>
  </div>
  <button class="col-10 col-sm-6 col-md-5 col-lg-4 col-xl-4 mx-auto mt-4" mat-button color="primary"
          *ngIf="showSend" (click)="sendAgainConfirmEmail()">Отправить повторно</button>
</div>
