<div class="d-flex flex-column mx-2 mb-5">
  <div class="recipe-cook-container mt-3 mb-3 mb-md-5 d-flex flex-column flex-md-row">
    <div matRipple class="mat-elevation-z12 d-flex recipe-img-container rounded ml-md-auto" (click)="file.click()">
      <mat-icon class="m-auto" *ngIf="!recipeStepFile">add_photo_alternate</mat-icon>
      <img class="w-100 rounded" [src]="recipeStepFile" alt="Recipe Step Image" *ngIf="recipeStepFile"/>
    </div>
    <input class="input-file" type="file" #file
           accept="image/*" (change)="showPrevRecipeStepImage($event.target.files)"/>
    <div class="d-flex flex-column ml-md-5 mr-md-auto mt-3 mt-md-0" [formGroup]="recipeStepDescGroup">
      <h3>Шаг {{recipeSteps.length + 1}}</h3>
      <mat-form-field class="form-field">
        <mat-label>Опишите шаг приготовления</mat-label>
        <textarea class="w-100" cdkTextareaAutosize formControlName="recipeStepDesc"
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="8"
                  cdkAutosizeMaxRows="8" matInput></textarea>
        <mat-error *ngIf="recipeStepDesc.invalid">{{getErrorMsgRecipeStepDesc()}}</mat-error>
      </mat-form-field>
      <button mat-button color="accent" (click)="addRecipeStep()"
              class="ml-auto mt-auto">Добавить шаг</button>
    </div>
  </div>
  <div class="d-flex flex-column mb-5">
    <mat-card class="recipe-step-cards" *ngFor="let recipeStep of recipeSteps; let i = index;">
      <mat-card-content>
        <div class="d-flex flex-column flex-md-row">
          <img src="{{recipeStepFiles[i]}}" class="recipe-step-cards-img rounded" alt="Recipe Step Image"/>
          <div class="mt-2 mt-md-0 mx-md-3">
            <h5>Шаг {{i + 1}}</h5>
            <p>{{recipeStep.description}}</p>
          </div>
          <button mat-icon-button class="mx-auto ml-md-auto my-md-auto mr-md-2" (click)="removeRecipeStep(i)">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
