<div class="d-flex flex-column mt-3 mb-5 mx-2">
  <div class="recipe-create-main mx-md-auto d-flex flex-column flex-md-row">
    <div class="d-flex flex-column">
      <div class="d-flex flex-column" [formGroup]="recipeGroup">
        <mat-form-field class="form-field">
          <input matInput placeholder="Введите название рецепта" required formControlName="recipeName">
          <mat-error *ngIf="recipeName.invalid">{{getErrorMsgRecipeName()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput placeholder="Введите доп. название рецепта" formControlName="recipeSecondaryName">
          <mat-error *ngIf="recipeSecondaryName.invalid">{{getErrorMsgRecipeSecondaryName()}}</mat-error>
        </mat-form-field>
      </div>
      <div matRipple class="mat-elevation-z12 d-flex recipe-img-container rounded" (click)="f.click()">
        <mat-icon class="m-auto" *ngIf="!file">add_photo_alternate</mat-icon>
        <img class="w-100 rounded" [src]="file" alt="Main Recipe Image" *ngIf="file"/>
      </div>
      <input class="input-file" type="file" #f
             accept="image/*" (change)="showPrevRecipeImage($event.target.files)"/>
    </div>
    <div class="mt-3 ml-md-5 d-flex flex-column">
      <div>
        <h4>Вкус</h4>
        <div class="d-flex flex-row mt-2">
          <div class="d-flex flex-column checkbox-margin">
            <mat-checkbox [(ngModel)]="drinkTastes[0]" [ngModelOptions]="{standalone: true}">Сладкий</mat-checkbox>
            <mat-checkbox [(ngModel)]="drinkTastes[1]" [ngModelOptions]="{standalone: true}">Острый</mat-checkbox>
            <mat-checkbox [(ngModel)]="drinkTastes[2]" [ngModelOptions]="{standalone: true}">Фруктовый</mat-checkbox>
            <mat-checkbox [(ngModel)]="drinkTastes[3]" [ngModelOptions]="{standalone: true}">Овощной</mat-checkbox>
          </div>
          <div class="d-flex flex-column checkbox-margin">
            <mat-checkbox [(ngModel)]="drinkTastes[4]" [ngModelOptions]="{standalone: true}">Кислый</mat-checkbox>
            <mat-checkbox [(ngModel)]="drinkTastes[5]" [ngModelOptions]="{standalone: true}">Ягодный</mat-checkbox>
            <mat-checkbox [(ngModel)]="drinkTastes[6]" [ngModelOptions]="{standalone: true}">Травянной</mat-checkbox>
          </div>
        </div>
      </div>
      <div>
        <h4>Тип</h4>
        <mat-radio-group class="d-flex flex-column flex-md-row mt-2" [(ngModel)]="drinkType" [ngModelOptions]="{standalone: true}">
          <div class="d-flex flex-column checkbox-margin">
            <mat-radio-button value="Lemonade">Лимонад</mat-radio-button>
            <mat-radio-button value="Tea">Чайный</mat-radio-button>
            <mat-radio-button value="Coffee">Кофейный</mat-radio-button>
            <mat-radio-button value="Milkshake">Молочный коктейль</mat-radio-button>
          </div>
          <div class="d-flex flex-column checkbox-margin">
            <mat-radio-button value="Cocktail">Коктейль</mat-radio-button>
            <mat-radio-button value="Shot">Шот</mat-radio-button>
            <mat-radio-button value="Liqueur">Настойка</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
      <div>
        <h4>Состояние</h4>
        <mat-radio-group class="mt-2" [(ngModel)]="drinkState" [ngModelOptions]="{standalone: true}">
          <mat-radio-button class="checkbox-margin" value="Hot">Горячий</mat-radio-button>
          <mat-radio-button class="checkbox-margin" value="Cold">Холодный</mat-radio-button>
          <mat-radio-button class="checkbox-margin" value="Unspecified">Не важно</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <h4>Содержит алкоголь? (18+)</h4>
        <mat-radio-group class="mt-2 d-flex flex-column flex-md-row" [(ngModel)]="alco" [ngModelOptions]="{standalone: true}">
          <mat-radio-button class="checkbox-margin" value="1">Алкогольный</mat-radio-button>
          <mat-radio-button class="checkbox-margin" value="0">Безалкогольный</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="recipe-index-search-keys mt-3 mt-md-5 d-flex flex-column">
    <h4>Для каких целей?</h4>
    <mat-form-field class="w-100">
      <mat-label>Например, вечеринка, ужин и т. д. через запятую</mat-label>
      <textarea class="w-100" cdkTextareaAutosize [(ngModel)]="searchIndex"
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="5" matInput></textarea>
    </mat-form-field>
  </div>
</div>
