<h1 mat-dialog-title>Оценить рецепт...</h1>
<div class="mb-3">
  <ng-template let-fill="fill" #r let-index="index">
              <span class="star-not-filled" [class.star-full]="fill === 100">
                <span class="star-half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
  </ng-template>
  <ngb-rating [(rate)]="rate" max="5" [starTemplate]="r"></ngb-rating>
</div>
<div mat-dialog-content class="w-100"
     style="margin-right: 0!important; padding-right: 0!important;"
     [formGroup]="commentRecipeGroup">
  <mat-form-field class="w-100">
    <mat-label>Введите комментарий</mat-label>
    <label class="w-100">
      <textarea class="w-100" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="18" matInput formControlName="comment"></textarea>
    </label>
    <mat-error *ngIf="comment.invalid">{{getCommentErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button class="ml-auto" (click)="onNoClick()">Отмена</button>
  <button mat-button class="mr-4" [mat-dialog-close]="getData()" [disabled]="commentRecipeGroup.invalid || check()"
          cdkFocusInitial color="accent">Отправить</button>
</div>
