.star-not-filled {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #eef4fb;
}
.star-full {
  cursor: pointer;
  color: #fec100;
}
.star-half {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #fec100;
}
