<div class="recipe-container" *ngIf="!loading" @recipe [ngClass]="{'dark-theme' : isDarkTheme(), 'light-theme' : !isDarkTheme() }">
  <div class="d-flex flex-column" *ngIf="!showComments" @recipe-info-to-comments>
    <div class="d-inline-flex flex-column flex-md-row w-100" *ngIf="!loading && !loadFailed" @recipe-info>
      <div class="recipe-header d-flex flex-column ml-md-auto flex-md-row mat-elevation-z12 rounded">
        <div class="recipe-image mat-elevation-z8 rounded" [ngStyle]="{'background-image': getRecipeImage()}"
             *ngIf="!loading && !loadFailed" @recipe-info></div>
        <div class="recipe-info d-flex flex-column" *ngIf="!loading && !loadFailed" @recipe-info>
          <p class="h3">{{recipe.name}}</p>
          <p>{{recipe.secondaryName}}</p>
          <div class="recipe-rating" (click)="showCommentsImpl()">
            <ng-template let-fill="fill" #r let-index="index">
              <span class="star-not-filled" [class.star-full]="fill === 100">
                <span class="star-half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
            </ng-template>
            <ngb-rating class="mt-1 mt-sm-1 mt-md-2 mt-lg-2 mt-xl-2" [(rate)]="recipe.rate / recipe.commentCount" max="5" readonly="true" [starTemplate]="r"></ngb-rating>
            <p class="d-inline recipe-rate-count"> ({{recipe.commentCount}})</p>
          </div>
          <div class="recipe-icons-holder">
            <mat-icon class="p-1" *ngFor="let taste of recipe.drinkTastes"
                      [matTooltip]="getRecipeTasteText(taste)"
                      svgIcon="{{getRecipeTaste(taste)}}"></mat-icon>
            <mat-icon class="p-1"
                      [matTooltip]="getRecipeTypeText(recipe.drinkType)"
                      svgIcon="{{getRecipeType(recipe.drinkType)}}"></mat-icon>
            <mat-icon class="p-1" *ngIf="recipe.drinkState !== 'Unspecified'"
                      [matTooltip]="getRecipeStateText(recipe.drinkState)"
                      svgIcon="{{getRecipeState(recipe.drinkState)}}"></mat-icon>
            <mat-icon class="p-1" *ngIf="recipe.alcohol"
                      matTooltip="алкогольный"
                      svgIcon="ic_alco_drink"></mat-icon>
          </div>
          <div class="recipe-author d-flex flex-column mt-md-auto">
            <span class="m-1">Опубликовано {{transformEmail(recipe.userEmail)}}</span>
            <div class="action-fab-container-sm ml-auto d-flex flex-row" *ngIf="isNotLikedRecipeAndNotOwn() || isNotCommented()">
              <button *ngIf="isNotLikedRecipeAndNotOwn()"
                      (click)="putRecipeToLiked()" color="accent" mat-icon-button><mat-icon>favorite</mat-icon></button>
              <button mat-icon-button *ngIf="isNotCommented()"
                      (click)="commentRecipe()" color="accent"><mat-icon>comment</mat-icon></button>
            </div>

          </div>

        </div>
      </div>
      <div class="ingredients-container d-flex flex-column mx-auto" *ngIf="!loading && !loadFailed" @recipe-info>
        <h3 class="comfortaa-font mx-auto">Ингредиенты</h3>
        <div class="d-flex flex-column flex-md-row">
          <mat-list *ngFor="let divideIngArray of ingredientsArray; let i = index">
            <mat-list-item class="mt-2" *ngFor="let ingredient of divideIngArray; let j = index">
              <p class="comfortaa-font" *ngIf="ingredient" mat-line>{{(j + 1) + (i * ingredientsDivideCount)}}. {{ingredient}}</p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
    <div class="recipe-steps-container d-flex flex-column mt-md-5" *ngIf="!loading && !loadFailed" @recipe-info>
      <h3 class="comfortaa-font mx-auto mb-4">Приготовление</h3>
      <div class="recipe-step w-100 d-flex"
           *ngFor="let step of recipeStepsArray; let i = index">
        <div class="mx-auto d-flex flex-row mx-auto" *ngIf="step !== null">
          <app-svg class="svg-arrow" [options]="leftSvgOptions" *ngIf="(i % 2 !== 0) && recipeStepsArray.length !== i + 1"
                   [ngStyle]="{'visibility' : recipeStepsArray.length !== i + 1 ? 'visible' : 'hidden'}"></app-svg>
          <mat-card class="mat-elevation-z12 card-single"
                    [ngClass]="{ 'card-left' : i % 2 === 0,
                    'card-right' : i % 2 !== 0}"
                    [ngStyle]="{'margin-left' :
                    (i % 2 !== 0 && recipeStepsArray.length === i + 1 && recipeStepsArray.length !== 1) ? getMargin() : '',
                                'margin-right' :
                    (i % 2 === 0 && recipeStepsArray.length === i + 1 && recipeStepsArray.length !== 1) ? getMargin() : ''}">
            <mat-card-header class="mb-2 comfortaa-font ">Шаг {{step.number}}</mat-card-header>
            <img mat-card-image src="{{getRecipeStepImageSource(step)}}" alt="recipeStepImage">
            <mat-card-content>
              <p class="comfortaa-font">
                {{step.description}}
              </p>
            </mat-card-content>
          </mat-card>
          <app-svg class="svg-arrow" [options]="rightSvgOptions" *ngIf="i % 2 === 0 && recipeStepsArray.length !== i + 1"></app-svg>
        </div>
        <div class="mx-auto d-flex flex-row" *ngIf="step == null && recipe.ad">
          <app-svg class="svg-arrow" [options]="leftSvgOptions" *ngIf="i % 2 !== 0 && recipeStepsArray.length !== i + 1"
                   [ngStyle]="{'visibility' : recipeStepsArray.length !== i + 1 ? 'visible' : 'hidden'}"></app-svg>
          <mat-card mat-ripple class="mat-elevation-z12 card-single" [style.cursor]="'pointer'" (click)="adClicked()"
                    [ngClass]="{ 'card-left' : i % 2 === 0,
                    'card-right' : i % 2 !== 0}"
                    [ngStyle]="{'margin-left' :
                    (i % 2 !== 0 && recipeStepsArray.length === i + 1 && recipeStepsArray.length !== 1) ? getMargin() : '',
                                'margin-right' :
                    (i % 2 === 0 && recipeStepsArray.length === i + 1 && recipeStepsArray.length !== 1) ? getMargin() : ''}">
            <img mat-card-image src="{{getRecipeAdImageSource()}}" alt="recipeStepImage"
              [ngStyle]="{'margin-bottom' : recipe.ad.description ? '':'0'}">
            <mat-card-content *ngIf="recipe.ad.description">
              <p class="comfortaa-font my-1">
                {{recipe.ad.description}}
              </p>
            </mat-card-content>
            <mat-card-footer class="d-flex flex-row">
              <span class="comfortaa-font mx-auto text-info">Реклама</span>
            </mat-card-footer>
          </mat-card>
          <app-svg class="svg-arrow" [options]="rightSvgOptions" *ngIf="i % 2 === 0 && recipeStepsArray.length !== i + 1"></app-svg>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showComments">
    <app-comments (goBackCalled)="hideComments()" [rn]="recipe.name" [rsn]="recipe.secondaryName"
                  [recipeId]="recipe.recipeId" [commentCount]="recipe.commentCount"></app-comments>
  </div>
  <div *ngIf="loading" class="center-spinner w-100">
    <mat-spinner class="mx-auto" diameter="50" color="accent"></mat-spinner>
  </div>
  <div *ngIf="loadFailed" class="center-spinner w-100 d-flex flex-column">
    <p class="mx-auto">Ошибка загрузки рецепта. Рецепт возможно был удалён!!!</p>
    <button class="mx-auto" mat-button color="accent" routerLink="/recipes">Перейти в Рецепты</button>
  </div>
  <div *ngIf="!recipePreview && !loadFailed" class="action-fab-container mr-3 mr-sm-3 mr-md-4 mr-lg-5 mr-xl-5">
    <div class="action-buttons d-flex flex-column">
      <button *ngIf="isNotLikedRecipeAndNotOwn()" (click)="putRecipeToLiked()" color="accent" class="pulse-fab"
              mat-fab aria-label="Add recipe liked fab">
        <mat-icon>favorite</mat-icon>
      </button>
      <button *ngIf="isNotCommented()" (click)="commentRecipe()" color="accent" class="mt-3 pulse-fab"
              mat-fab aria-label="Comment recipe fab">
        <mat-icon>comment</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="recipePreview && !loadFailed" class="action-fab-container mr-3 mr-sm-3 mr-md-4 mr-lg-5 mr-xl-5">
    <div class="action-buttons d-flex flex-row">
      <button color="warn" class="mr-3" (click)="cancelRecipe()"
              mat-fab aria-label="Add recipe liked fab">
        <mat-icon>clear</mat-icon>
      </button>
      <button (click)="activateRecipe()" color="accent"
              mat-fab aria-label="Comment recipe fab">
        <mat-icon>done</mat-icon>
      </button>
    </div>
  </div>
</div>

