@import "~@angular/material/theming";
@import "../pulse_fab";
.recipe-container {
  padding-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
}
.recipe-header {
  margin-bottom: 32px;
}
.recipe-image {
  width: 450px;
  height: 350px;
  margin: 32px 32px 32px 64px;
  background-size: cover;
}
.dark-theme {
  .recipe-header {
    background-color: #232323;
  }
  .recipe-image {
  }
}
.star-not-filled {
  color: lightgray;
}
.recipe-info {
  margin: 32px 64px 32px 0;
}
.center-spinner {
  position: absolute;
  left: 0;
  top: 50%;
}
.star-not-filled {
  font-size: 1.5rem;
}
.recipe-rate-count {
  cursor: pointer;
  font-size: 24px;
}
.recipe-icons-holder {
  margin-top: 8px;
  mat-icon {
    width: 32px;
    height: 32px;
  }
}
.comfortaa-font {
  font-family: 'Comfortaa', cursive;
}
.pacifico-font-cursive {
  font-family: 'Pacifico', cursive;
}
.ingredients-container {
  margin: 32px 64px 32px 16px;
  .mat-list-item {
    height: auto;
  }
}
.recipe-steps-container {
  margin-top: 16px;
  margin-right: 64px;
  margin-left: 64px;
}
.card-single {
  margin-top: 16px;
  margin-bottom: 16px;
}
.card-left {
  margin-left: 32px;
  margin-right: 8px;
}
.card-right {
  margin-left: 8px;
  margin-right: 32px;
}
.recipe-step {
  mat-card {
    width: 500px!important;
  }
}
.action-fab-container-sm {
}

.action-fab-container {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  z-index: 101;
  margin-bottom: 7rem;
}
@media (min-width: 1025px) and (max-width: 2560px) {
  .action-fab-container-sm {
    button {
      display: none;
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .action-fab-container-sm {
    button {
      display: none;
    }
  }
}
@media (max-width: 767px) {
  .recipe-header {
    margin-bottom: 8px;
  }
  .recipe-image {
    width: auto;
    margin: 8px;
  }
  .recipe-info {
    margin: 16px 8px 0 8px;
  }
  .recipe-author {
    margin: 16px 0 0 0;
  }
  .ingredients-container {
    mat-list {
      padding: 0;
    }
  }
  .recipe-step {
    mat-card {
      width: auto!important;
    }
  }
  .svg-arrow {
    display: none;
  }
  .recipe-steps-container {
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
  }
  .card-single {
    margin: 4px 0 16px 0;
  }
  .card-left {
    margin: 4px 0 16px 0;
  }
  .card-right {
    margin: 4px 0 16px 0;
  }
  .action-fab-container {
    .action-buttons {
      button {
        display: none;
      }
    }
  }
}
@media (min-width: 413px) and (max-width: 767px) {
  .recipe-image {
    height: 244px;
  }
}
@media (min-width: 374px) and (max-width: 412px) {
  .recipe-image {
    height: 228px;
  }
}
@media (max-width: 373px) {
  .recipe-image {
    height: 188px;
  }
  .star-not-filled {
    font-size: 1.3rem;
  }
  .recipe-rate-count {
    cursor: pointer;
    font-size: 22px;
  }
  .recipe-icons-holder {
    margin-top: 8px;
    mat-icon {
      width: 28px;
      height: 28px;
    }
  }
}
