<div class="about-container d-flex flex-column pt-3 mx-2 px-1">
  <img src="../../assets/app_logo.svg" class="rounded-circle mx-auto" alt="app_logo">
  <h1 class="text-center mt-4">SDrinks</h1>
  <h2 class="text-center">Сборник рецептов</h2>
  <p class="mt-3 text-center">
    SDrinks - это бесплатный инструмент, который позволяет отыскать огромное количество рецептов приготовления
    напитков.
  </p>
  <p class="text-center">
    Ничего лишнего, никаких историй возникновения, пользы для организма - только по делу - <b> название рецепта</b>,
    <b>ингридиенты</b>, <b>шаги приготовления с илюстрациями</b>.
  </p>
  <p class="text-center">
    Вы можете найти нужный Вам рецепт, или же поделиться своим уникальным рецептом, чтобы большое количество
    людей могли попробовать его приготовить.
  </p>
  <p class="text-center">
    Вы также можете добавить понравившийся Вам рецепт в избранное или поделиться им с Друзьями. И в любой момент открыть его и приготовить.
  </p>
</div>
