.about-container {
  //padding-bottom: 4.5rem;
  img {
    width: 255px;
    height: 255px;
  }
}
@media (min-width: 413px) and (max-width: 767px) {
  .about-container {
    //padding-bottom: 6.5rem;
    img {
      width: 235px;
      height: 235px;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
}
@media (min-width: 374px) and (max-width: 412px) {
  .about-container {
    //padding-bottom: 6.5rem;
    img {
      width: 215px;
      height: 215px;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
}
@media (max-width: 373px) {
  .about-container {
    //padding-bottom: 6.5rem;
    img {
      width: 195px;
      height: 195px;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
}
