<div class="sub">
  <div class="d-flex flex-column mx-2">
    <div class="d-flex flex-column">
      <p class="text-center">Вы можете приобрести подписку <b>всего</b> за <b>150</b> рублей</p>
      <p class="text-center">Это даст вам возможность добавлять рекламу в ваш рецепт целый <b>месяц</b></p>
    </div>
    <button class="mx-auto mt-2" mat-button color="accent">Оформить подписку</button>
  </div>
</div>
