<div class="bg-dark w-100 d-flex flex-column justify-content-center">
  <div class="d-flex flex-column flex-md-row bottom-bar pt-2">
    <div class="w-100 d-flex flex-row ml-2 mb-2">
      <div matRipple class="ml-auto ml-md-5 google-play-badge store-badge"></div>
      <div matRipple class="ml-1 mr-auto app-store-badge store-badge"></div>
    </div>
    <div class="w-100 d-flex flex-row mr-2 mb-2">
      <button mat-button class="ml-auto mr-md-1" (click)="openSendUsDialog()"><span class="mr-2">Написать нам</span><mat-icon>email</mat-icon></button>
      <button mat-button class="mr-auto mr-md-5" (click)="openUsageRestriction()"><span>Условия использования</span></button>
    </div>
  </div>
  <div class="d-flex w-100">
    <span class="bottom-logo-text mx-auto mb-1">SDrinks.ru 2019</span>
  </div>
</div>
