.bottom-bar {
  color: white;
}
.bottom-logo-text {
  color: white;
  font-size: xx-small;
}
.store-badge {
  cursor: pointer;
  height: 40px;
  width: 120px;
  background-size: cover;
  border-radius: 4px;
}
.google-play-badge {
  width: 135px;
  background-image: url("../../assets/google-play-badge.svg");
}
.app-store-badge {
  background-image: url("../../assets/app-store-badge.svg");
}
