<h1 mat-dialog-title class="mb-0">Написать нам</h1>
<div mat-dialog-content class="w-100" style="margin-right: 0!important; padding-right: 0!important;" [formGroup]="sendMessageGroup">
  <mat-form-field class="w-100">
    <mat-label>Введите сообщение</mat-label>
    <textarea class="w-100" cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="21" matInput formControlName="message"></textarea>
    <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button class="ml-auto" (click)="onNoClick()">Отмена</button>
  <button mat-button class="mr-4" (click)="sendMessage()"
           cdkFocusInitial color="accent">Отправить</button>
</div>
