<h1 mat-dialog-title>Условия использования сервиса SDrinks</h1>
<div mat-dialog-content>
  <p style="white-space: pre-wrap">{{data.restrictions}}</p>
</div>
<div mat-dialog-actions class="mt-3">
  <button mat-button class="ml-auto" (click)="onClick()" color="accent">Понятно</button>
</div>

