<div class="d-flex flex-column mt-3 mb-5 mx-2">
  <div class="recipe-ad-container d-flex flex-column flex-md-row" *ngIf="checkSubscription()">
    <div matRipple class="mat-elevation-z12 d-flex recipe-img-container rounded ml-md-auto" (click)="file3.click()">
      <mat-icon class="m-auto" *ngIf="!recipeAdFile">add_photo_alternate</mat-icon>
      <img class="w-100 rounded" [src]="recipeAdFile" alt="Recipe Step Image" *ngIf="recipeAdFile"/>
      <input class="input-file" type="file" #file3
             accept="image/*" (change)="showPrevRecipeAdImage($event.target.files)"/>
    </div>
    <div class="d-flex flex-column mt-3 ml-md-5 mb-5 mr-md-auto" [formGroup]="recipeAdGroup">
      <mat-form-field class="form-field">
        <input matInput placeholder="Внешняя ссылка" required formControlName="recipeAdLink">
        <mat-error *ngIf="recipeAdLink.invalid">{{getErrorMsgRecipeAdLink()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Описание рекламы</mat-label>
        <textarea class="w-100" cdkTextareaAutosize formControlName="recipeAdDesc"
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="8"
                  cdkAutosizeMaxRows="8" matInput></textarea>
        <mat-error *ngIf="recipeAdDesc.invalid">{{getErrorMsgRecipeAdDesc()}}</mat-error>
      </mat-form-field>
      <mat-checkbox class="m-auto" [checked]="recipeAdOn" (change)="recipeAdOn = !recipeAdOn">Включить рекламу</mat-checkbox>
    </div>
  </div>
  <div class="buy-subscription mt-5 d-flex flex-column " *ngIf="!checkSubscription()">
    <p class="mx-auto">У вас нет подписки или срок истёк действия подписки.</p>
    <button class="mx-auto" mat-button color="accent" (click)="buySubscription()">Оформить подписку</button>
  </div>
</div>
