<div class="d-flex mt-3 mb-5 mx-2">
  <div class="mx-md-auto d-flex flex-column ingredients-container">
    <div [formGroup]="ingredientGroup" class="d-flex flex-row">
      <mat-form-field class="form-field">
        <input (keyup.enter)="addIngredient()" matInput placeholder="Ингредиент - количество" required formControlName="ingredient">
        <mat-error *ngIf="ingredient.invalid">{{getErrorMsgIngredient()}}</mat-error>
      </mat-form-field>
      <div class="d-flex">
        <button class="ml-2 my-auto" mat-button (click)="addIngredient()"><mat-icon>add</mat-icon></button>
      </div>
    </div>
    <div>
      <mat-list>
        <div class="d-flex flex-row" *ngFor="let item of ingredients; let i = index">
          <mat-list-item>
            <span>{{i+1}}. {{item}}</span>
          </mat-list-item>
          <div>
            <button mat-button class="ml-auto" (click)="deleteIngredient(i)"><mat-icon>clear</mat-icon></button>
          </div>
        </div>
      </mat-list>
    </div>
  </div>
</div>
