<div class="ex_container row" [formGroup]="loginForm">
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 mx-auto">
    <mat-form-field class="w-100">
      <input matInput placeholder="Введите почтовый адрес" required formControlName="email"
             (keyup.enter)="login()">
      <mat-error *ngIf="email.invalid">{{getErrorMsgEmail()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Введите пароль" required [type]="hide ? 'password' : 'text'" formControlName="password"
             (keyup.enter)="login()">
      <mat-error *ngIf="password.invalid">{{getErrorMsgPassword()}}</mat-error>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </div>
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 mx-auto mt-4 row justify-content-center">
    <button mat-button color="accent" (click)="login()">Войти</button>
    <button mat-button (click)="recover()">Забыли пароль?</button>
  </div>
  <button mat-button color="accent" (click)="register()"
          class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 mx-auto mt-4">Регистрация</button>
</div>
