<div class="svg-container" #svgContainer>
  <svg>
    <defs>
      <marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
        <path d="M0,0 L0,6 L9,3 z" [attr.fill]="stroke"></path>
      </marker>
      <marker id="circle" markerWidth="8" markerHeight="8" refX="5" refY="5">
        <circle cx="5" cy="5" r="3" [attr.fill]="stroke"></circle>
      </marker>
    </defs>
    <path [attr.d]="path" [attr.stroke]="stroke" fill="none"
          [attr.stroke-opacity]="options.strokeOpacity"
          [attr.stroke-linecap]="options.strokeLinecap"
          [attr.stroke-dasharray]="options.strokeDashArray"
          [attr.stroke-width]="options.strokeWidth" marker-start="url(#circle)" marker-end="url(#arrow)">
    </path>
    <!--    <circle r="7" [attr.cx]="cX1" [attr.cy]="cY1" fill="red">-->
    <!--    </circle>-->
<!--    <circle r="7" [attr.cx]="cX2" [attr.cy]="cY2" fill="red">-->
<!--    </circle>-->
  </svg>

</div>
