<div class="ex_container row" [formGroup]="recoverEmailForm"
     [ngStyle]="{'display': showConfirm ? 'none' : 'flex'}">
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 mx-auto">
    <mat-form-field class="w-100">
      <input matInput placeholder="Введите почтовый адрес" required formControlName="email"
             (keyup.enter)="recoverRequest()">
      <mat-error *ngIf="email.invalid">{{getErrorMsgEmail()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 mx-auto mt-4 row justify-content-center">
    <button mat-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-button color="accent" (click)="recoverRequest()">Восстановить</button>
  </div>
</div>
<div class="ex_container row" [formGroup]="changePassForm"
     [ngStyle]="{'display': !showConfirm ? 'none' : 'flex'}">
  <div class="col-10 col-sm-6 col-md-5 col-lg-4 col-xl-4 mx-auto">
    <p>На ваш электронный адрес было отправлено письмо с кодом подтвержения</p>
    <mat-form-field class="w-100">
      <input matInput placeholder="Введите код подтверждения" required formControlName="emailHash"
             (keyup.enter)="recover()">
      <mat-error *ngIf="emailHash.invalid">{{getErrorMsgCheckEmail()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Введите пароль" required [type]="hide ? 'password' : 'text'" formControlName="password"
             (keyup.enter)="recover()">
      <mat-error *ngIf="password.invalid">{{getErrorMsgPassword()}}</mat-error>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Подтвердите пароль" required [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword"
             (keyup.enter)="recover()">
      <mat-error *ngIf="confirmPassword.invalid">{{getErrorConfirmMsgPassword()}}</mat-error>
      <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </div>
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 mx-auto mt-4 row justify-content-center">
    <button mat-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-button color="accent" (click)="recover()">Изменить пароль</button>
  </div>
  <button class="col-10 col-sm-6 col-md-5 col-lg-4 col-xl-4 mx-auto mt-4" mat-button color="primary"
          *ngIf="showSendAgain" (click)="sendAgainConfirmEmail()">Отправить повторно</button>
</div>
