.ex_container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}
.ex_container > * {
  width: 100%;
}
.ex_container mat-form-field mat-icon:hover {
  cursor: pointer !important;
}
@media (max-width: 373px) {
  .ex_container {
    padding-top: 4rem;
  }
}
