<div class="comments-container d-flex flex-column" *ngIf="!loading" @comments-list>
  <h3 class="comfortaa-font mx-auto">Отзывы</h3>
  <h5 class="mx-auto form-field">{{rn}}. {{rsn}}</h5>
  <div class="d-flex flex-column">
    <div class="recipe-comments" *ngFor="let comment of allCommentsArray" @comments-items>
      <mat-card class="mat-elevation-z12 mt-2 mb-2">
        <div class="mb-2 comfortaa-font d-flex flex-row">
          <p class="mr-2">{{transformEmail(comment.userEmail)}}</p>
          <div class="recipe-rating">
            <ng-template let-fill="fill" #r let-index="index">
            <span class="star-not-filled" [class.star-full]="fill === 100">
              <span class="star-half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
            </ng-template>
            <ngb-rating [(rate)]="comment.rate"
                        max="5" readonly="true" [starTemplate]="r"></ngb-rating>
          </div>
        </div>
        <mat-card-content>
          <p class="comfortaa-font">
            {{comment.comment}}
          </p>
        </mat-card-content>
        <mat-card-footer class="d-flex">
          <p class="small ml-auto mr-3">{{comment.date | date :'medium'}}</p>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="go-back-button ml-5 mt-2 position-fixed" *ngIf="!loading">
      <button mat-button (click)="goBackImpl()"><mat-icon>arrow_back</mat-icon></button>
    </div>
  </div>
  <div *ngIf="loadingNextPage" class="w-100 my-2">
    <mat-spinner class="mx-auto" diameter="30" color="primary"></mat-spinner>
  </div>
  <div *ngIf="commentCount === 0 || allCommentsArray.length === 0" class="d-flex my-2">
    <p class="mx-auto">Нет отзывов</p>
  </div>
</div>

