.comfortaa-font {
  font-family: 'Comfortaa', cursive;
}
.recipe-comments {
  margin-left: 128px;
  margin-right: 128px;
}
@media (max-width: 767px) {
  .go-back-button {
    display: none;
  }
  .form-field {
    display: none;
  }
  .recipe-comments {
    margin-left: 0;
    margin-right: 0;
  }
}
