<div class="recipes-container d-flex flex-column">
  <div class="row mx-1 justify-content-center" *ngIf="!loading">
    <div class="recipe-ripple-container mat-elevation-z4" @items
         matRipple *ngFor="let recipe of getRecipes(); let i = index;" (click)="openRecipe(i, recipe)">
      <div class="blur-background" [ngStyle]="{'background-image': getImageSource(recipe)}"></div>
      <div class="recipe-content">
        <div class="p-2">
          <div class="recipe-content-header">
            <span>{{recipe.name}}</span>
            <span>{{recipe.secondaryName}}</span>
          </div>
          <div class="recipe-rating">
            <ng-template let-fill="fill" #r let-index="index">
              <span class="star-not-filled" [class.star-full]="fill === 100">
                <span class="star-half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
            </ng-template>
            <ngb-rating class="mt-1 mt-sm-1 mt-md-2 mt-lg-2 mt-xl-2" [(rate)]="recipe.rate / recipe.commentCount" max="5" readonly="true" [starTemplate]="r"></ngb-rating>
            <p class="d-inline recipe-rate-count" *ngIf="recipe.commentCount < 10000"> ({{recipe.commentCount}})</p>
          </div>
          <div class="recipe-icons-holder mt-1">
            <mat-icon class="p-1" *ngFor="let taste of recipe.drinkTastes" svgIcon="{{getRecipeTaste(taste)}}"></mat-icon>
            <mat-icon class="p-1" svgIcon="{{getRecipeType(recipe.drinkType)}}"></mat-icon>
            <mat-icon class="p-1" *ngIf="recipe.drinkState !== 'Unspecified'" svgIcon="{{getRecipeState(recipe.drinkState)}}"></mat-icon>
            <mat-icon class="p-1" *ngIf="recipe.alcohol" svgIcon="ic_alco_drink"></mat-icon>
          </div>
          <div class="recipe-author">
            <span class="p-2">Опубликовано {{transformEmail(recipe.userEmail)}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loadingNextPage" class="w-100 my-2">
    <mat-spinner class="mx-auto" diameter="30" color="primary"></mat-spinner>
  </div>
</div>
<div *ngIf="loading" class="center-spinner w-100">
  <mat-spinner class="mx-auto" diameter="50" color="accent"></mat-spinner>
</div>
