.recipe-ripple-container {
  cursor: pointer;
}
.blur-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: all .1s ease-in-out;
}

.recipe-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: aliceblue;
  opacity: 0;
  transition: opacity 0s ease-in-out;
  .recipe-content-header {
    span:first-child {
      font-size: 16px;
      font-weight: bold;
    }
    span {
      display: block;
      font-size: 14px;
    }
  }
  .recipe-author {
    span {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 11px;
    }
  }
}
.center-spinner {
  position: absolute;
  left: 0;
  top: 50%;
}
.recipe-icons-holder {
  mat-icon {
    display: inline-block;
    transform: scale(1);
    width: 24px;
    height: 24px;
  }
}
@media (min-width: 1025px) and (max-width: 2560px) {
  .recipe-ripple-container {
    width: 192px;
    height: 192px;
    margin: .2rem!important;
  }
  .recipe-ripple-container:hover {
    .blur-background {
      filter: blur(5px);
    }
    .recipe-content {
      opacity: 1;
      transition: opacity .2s ease-in-out;
      background: radial-gradient(ellipse at top left, rgba(70, 96, 255, 0.81), transparent),
      radial-gradient(ellipse at bottom right, rgba(0, 255, 130, 0.52), transparent);
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .recipe-ripple-container {
    width: 158px;
    height: 158px;
    margin: .15rem!important;
  }
  .recipe-ripple-container:hover {
    .blur-background {
      filter: blur(5px);
    }
    .recipe-content {
      opacity: 1;
      transition: opacity .2s ease-in-out;
      background: radial-gradient(ellipse at top left, rgba(70, 96, 255, 0.81), transparent),
      radial-gradient(ellipse at bottom right, rgba(0, 255, 130, 0.52), transparent);
    }
  }
  .recipe-icons-holder {
    mat-icon {
      width: 20px;
      height: 20px;
    }
  }
  .recipe-content {
    .star-not-filled {
      font-size: .95rem;
    }
    p {
      font-size: .95rem;
    }
  }
}
@media (min-width: 413px) and (max-width: 767px) {
  .recipe-ripple-container {
    width: 130px;
    height: 130px;
    margin: .15rem!important;
  }
}
@media (min-width: 374px) and (max-width: 412px) {
  .recipe-ripple-container {
    width: 118px;
    height: 118px;
    margin: .125rem!important;
  }
}
@media (max-width: 373px) {
  .recipe-ripple-container {
    width: 98px;
    height: 98px;
    margin: .125rem!important;
  }
}
