<div class="main-component" [ngClass]="{ 'dark-theme ' : isDarkThemeActivated(), 'light-theme' : !isDarkThemeActivated() }">
  <app-nav-bar></app-nav-bar>
  <button color="accent" class="pulse-fab add-recipe-fab mr-3 mr-sm-3 mr-md-4 mr-lg-5 mr-xl-5"
          mat-fab aria-label="Add recipe fab" *ngIf="isRouteRecipesOrProfile()" (click)="addNewRecipe()">
    <mat-icon>add</mat-icon>
  </button>
</div>
