@import "pulse_fab";
.add-recipe-fab {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  z-index: 101;
  margin-bottom: 7rem;
}
@media (min-width: 413px) and (max-width: 767px) {
  .light-theme, .dark-theme {
    .add-recipe-fab {
      margin-bottom: 9rem;
    }
  }
}
@media (min-width: 374px) and (max-width: 412px) {
  .light-theme, .dark-theme {
    .add-recipe-fab {
      margin-bottom: 9rem;
    }
  }
}
@media (max-width: 373px) {
  .light-theme, .dark-theme {
    .add-recipe-fab {
      margin-bottom: 9rem;
    }
  }
}
