.pulse-fab {
  -webkit-animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
}
.light-theme {
  .pulse-fab {
    box-shadow: 0 0 0 0 rgba(251, 34, 110, 0.7);
  }
}
.dark-theme {
  .pulse-fab {
    box-shadow: 0 0 0 0 rgba(254, 185, 8, 0.7);
  }
}
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 8px rgba(232, 76, 61, 0);}}
.dark-theme, .light-theme {
  .pulse-fab:hover {
    -webkit-animation: none;-moz-animation: none;animation: none;
  }
}
