<mat-toolbar color="primary" [ngClass]="{ 'dark-theme' : isDarkThemeActivated() }"
             [ngStyle]="{'top': isVisible ? '0' : getToolbarHeightCss()}">
  <mat-toolbar-row>
    <button mat-icon-button *ngIf="!searchActivated && !isRecipeCommentActivated()" class="toolbar-menu-icon">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isRecipeCommentActivated()" class="toolbar-menu-icon">
      <mat-icon (click)="goBackFromCommentsToRecipe()">arrow_back</mat-icon>
    </button>
    <button mat-button class="nav-title"
            [routerLink]="'/'" *ngIf="!searchActivated" (click)="checkSideNavClick(sidenav)">
      <img src="../../assets/app_logo.svg" width="30" height="30" class="rounded mr-2" alt="logo">
      <span>SDrinks</span>
    </button>
    <button mat-button class="nav-title-sm"
            [routerLink]="'/'" *ngIf="!searchActivated" (click)="checkSideNavClick(sidenav)">
      <img *ngIf="!isRecipeActivated()" src="../../assets/app_logo.svg" width="30" height="30" class="rounded mr-2" alt="logo">
      <span *ngIf="!isRecipeActivated()">SDrinks</span>
      <span *ngIf="isRecipeActivated()">{{getRecipeActivatedName()}}</span>
    </button>
    <div class="toolbar-nav" *ngIf="!searchActivated">
      <button mat-button routerLinkActive="active" [routerLink]="'/recipes'">Рецепты</button>
      <button mat-button routerLinkActive="active" [routerLink]="'/liked'">
        <span>Избранное</span>
      </button>
      <button mat-button routerLinkActive="active" [routerLink]="'/added'">
        <span>Добавленные</span>
      </button>
      <button mat-button *ngIf="isUserLoggedIn()" routerLinkActive="active" [routerLink]="'/profile'">
        <span>Профиль</span>
      </button>
      <button mat-button routerLinkActive="active" *ngIf="!isUserLoggedIn()" [routerLink]="'/auth'">Вход/Регистрация</button>
      <button mat-button routerLinkActive="active" [routerLink]="'/about'">О Сайте</button>
    </div>
    <button mat-icon-button class="search-set ml-auto" *ngIf="!searchActivated && !isRecipeActivated()" (click)="searchActivated = !searchActivated">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button (click)="searchActivated = !searchActivated" *ngIf="searchActivated">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <form *ngIf="searchActivated" class="my-2 my-lg-0 w-100">
      <input (keyup.enter)="search()" class="form-control mr-sm-2" [formControl]="searchControl"
             type="search" [(ngModel)]="searchIndex" placeholder="Название напитка..." aria-label="Search" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let word of filteredSearchOptions | async" [value]="word">{{word}}</mat-option>
      </mat-autocomplete>
    </form>
<!--    <mat-form-field class="search-field w-100 mt-3" *ngIf="searchActivated">-->
<!--      <label class="w-100">-->
<!--        <input (keyup.enter)="search()" matInput type="text" placeholder="Название напитка..." [(ngModel)]="searchIndex">-->
<!--      </label>-->
<!--    </mat-form-field>-->
    <button mat-icon-button *ngIf="searchActivated">
      <img src="{{getSearchThemeIcon()}}" (click)="openSearchParams()" alt="customize_search"/>
    </button>
    <button mat-icon-button (click)="search()" *ngIf="searchActivated">
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="getToolbarHeight()">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" [routerLink]="'/recipes'" (click)="sidenav.toggle()">
        <mat-icon>view_list</mat-icon>
        <span class="ml-2">Рецепты</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="active" [routerLink]="'/added'" (click)="sidenav.toggle()">
        <mat-icon>cloud_upload</mat-icon>
        <span class="ml-2">Добавленные</span>
      </a>
      <a mat-list-item routerLinkActive="active" [routerLink]="'/liked'" (click)="sidenav.toggle()">
        <mat-icon>favorite</mat-icon>
        <span class="ml-2">Избранное</span>
      </a>
      <a mat-list-item *ngIf="!isUserLoggedIn()" routerLinkActive="active" [routerLink]="'/auth'" (click)="sidenav.toggle()">
        <mat-icon>account_circle</mat-icon>
        <span class="ml-2">Вход/Регистрация</span>
      </a>
      <a mat-list-item *ngIf="isUserLoggedIn()" routerLinkActive="active" [routerLink]="'/profile'" (click)="sidenav.toggle()">
        <mat-icon>account_circle</mat-icon>
        <span class="ml-2">Профиль</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="active" [routerLink]="'/about'" (click)="sidenav.toggle()">
        <img src="../../assets/ic_launcherapp_icon_black.svg" alt="logo">
        <span class="ml-2">О Сайте</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sidenav-content" [ngStyle]="{'margin-top': calcMarginTop(), 'margin-bottom': calcMarginBottom()}">
      <router-outlet class="router-content"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-bottom-bar class="bottom-bar"></app-bottom-bar>
