@import "~@angular/material/theming";
mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 100;
  transition: top 0.3s;
}
.extra-spacer {
  flex: 1 1 auto;
}
.search-field {
  font-size: 1rem;
}
mat-sidenav {
  width: 250px;
  z-index: 101;
}
mat-sidenav-content {
  height: 100vh;
  width: auto;
}
.sidenav-content {
}
.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 101;
  transition: bottom .3s;
}
.toolbar-nav button.active:enabled, .toolbar-nav button:hover:enabled {
  color: $light-secondary-text!important;
}
mat-menu button.active {
  color: $light-secondary-text!important;
}
.search-set:hover {
  color: $light-secondary-text!important;
}
.item-hover:hover, .item-hover.active {
  color: $light-secondary-text!important;
}
.item-hover.active {
  background-color: rgba(179,179,179, .3);
}
.dark-theme {
  .toolbar-nav button.active:enabled, .toolbar-nav button:hover:enabled {
    color: $dark-secondary-text!important;
  }
  mat-menu button.active {
    color: $dark-secondary-text!important;
  }
  .search-set:hover {
    color: $dark-secondary-text!important;
  }
  .item-hover:hover, .item-hover.active {
    color: $dark-secondary-text!important;
  }
  //.item-hover.active {
  //  background-color: rgba(179,179,179, .3)!important;
  //}
}

mat-nav-list a.active {
  //span {
  //  color: #feb908;
  //}
  background-color: rgba(179,179,179, .3);
}
.toolbar-menu-icon {
  display: none;
}
.nav-title-sm {
  display: none;
}
@media (min-width: 413px) and (max-width: 767px) {
  .toolbar-menu-icon {
    display: block;
  }
  .toolbar-nav {
    display: none;
  }
}
@media (min-width: 374px) and (max-width: 412px) {
  .toolbar-menu-icon {
    display: block;
  }
  .toolbar-nav {
    display: none;
  }
}
@media (max-width: 373px) {
  .toolbar-nav {
    display: none;
  }
  .toolbar-menu-icon {
    display: block;
  }
  mat-sidenav-container mat-sidenav {
    position: absolute!important;
    left: 0;
    top: 0;
  }
  .nav-title {
    display: none;
  }
  .nav-title-sm {
    display: block;
  }
}
