<h1 mat-dialog-title class="mb-0 text-center">Детали поиска</h1>
<div mat-dialog-content class="w-100 mb-4"
     style="margin-right: 0!important; padding-right: 0!important;">
  <div class="mt-3 ml-md-5 d-flex flex-column">
    <div>
      <h5>Вкус</h5>
      <div class="d-flex flex-row mt-2">
        <div class="d-flex flex-column checkbox-margin">
          <mat-checkbox [(ngModel)]="data.tastes[0]">Сладкий</mat-checkbox>
          <mat-checkbox [(ngModel)]="data.tastes[1]">Острый</mat-checkbox>
          <mat-checkbox [(ngModel)]="data.tastes[2]">Фруктовый</mat-checkbox>
          <mat-checkbox [(ngModel)]="data.tastes[3]">Овощной</mat-checkbox>
        </div>
        <div class="d-flex flex-column checkbox-margin">
          <mat-checkbox [(ngModel)]="data.tastes[4]">Кислый</mat-checkbox>
          <mat-checkbox [(ngModel)]="data.tastes[5]">Ягодный</mat-checkbox>
          <mat-checkbox [(ngModel)]="data.tastes[6]">Травянной</mat-checkbox>
        </div>
      </div>
    </div>
    <div>
      <h5>Тип</h5>
      <mat-radio-group class="d-flex flex-column flex-md-row mt-2" [(ngModel)]="data.type">
        <div class="d-flex flex-column checkbox-margin">
          <mat-radio-button value="Lemonade">Лимонад</mat-radio-button>
          <mat-radio-button value="Tea">Чайный</mat-radio-button>
          <mat-radio-button value="Coffee">Кофейный</mat-radio-button>
          <mat-radio-button value="Milkshake">Молочный коктейль</mat-radio-button>
        </div>
        <div class="d-flex flex-column checkbox-margin">
          <mat-radio-button value="Cocktail">Коктейль</mat-radio-button>
          <mat-radio-button value="Shot">Шот</mat-radio-button>
          <mat-radio-button value="Liqueur">Настойка</mat-radio-button>
          <mat-radio-button value="Unspecified">Не важно</mat-radio-button>
        </div>
      </mat-radio-group>
    </div>
    <div>
      <h5>Состояние</h5>
      <mat-radio-group class="mt-2" [(ngModel)]="data.state">
        <mat-radio-button class="checkbox-margin" value="Hot">Горячий</mat-radio-button>
        <mat-radio-button class="checkbox-margin" value="Cold">Холодный</mat-radio-button>
        <mat-radio-button class="checkbox-margin" value="Unspecified">Не важно</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <h5>Содержит алкоголь? (18+)</h5>
      <mat-radio-group class="mt-2 d-flex flex-column flex-md-row" [(ngModel)]="data.alco">
        <mat-radio-button class="checkbox-margin" value="1">Да</mat-radio-button>
        <mat-radio-button class="checkbox-margin" value="0">Нет</mat-radio-button>
        <mat-radio-button class="checkbox-margin" value="-1">Не важно</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
