@import "../pulse_fab";

.recipe-create-main {
  width: auto;
}
.input-file {
  visibility: hidden;
  width: 0; height: 0;
}
.recipe-img-container {
  cursor: pointer;
  width: 450px;
  height: 350px;
  mat-icon {
    width: 64px;
    height: 64px;
    font-size: 64px;
  }
}
.form-field {
  width: 450px;
}
.ingredients-container {
  width: auto;
}
.checkbox-margin {
  margin: 0 10px;
}
.recipe-index-search-keys {
  margin-left: 160px;
  margin-right: 160px;
}
.recipe-step-cards {
  margin: 8px 160px 8px;
}
.buy-subscription {

}
.dark-theme {
  .recipe-img-container {
    background-color: #232323;
  }
}
.recipe-step-cards-img {
  width: 200px;
  height: 150px;
}
.create-recipe-fab {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 7rem;
  z-index: 101;
}
@media (min-width: 413px) and (max-width: 767px) {
  .recipe-img-container {
    width: auto;
    height: 216px;
    mat-icon {
      width: 32px;
      height: 32px;
      font-size: 32px;
    }
  }
  .recipe-index-search-keys {
    margin-left: 0;
    margin-right: 0;
  }
  .form-field {
    width: 100%;
  }
  .ingredients-container {
    width: 100%;
  }
  .create-recipe-fab {
    margin-bottom: 9rem;
  }
  .recipe-step-cards {
    margin: 8px 0 8px;
  }
  .recipe-step-cards-img {
    width: 100%;
  }
}
@media (min-width: 374px) and (max-width: 412px) {
  .recipe-img-container {
    width: auto;
    height: 192px;
    mat-icon {
      width: 32px;
      height: 32px;
      font-size: 32px;
    }
  }
  .recipe-index-search-keys {
    margin-left: 0;
    margin-right: 0;
  }
  .form-field {
    width: 100%;
  }
  .ingredients-container {
    width: 100%;
  }
  .create-recipe-fab {
    margin-bottom: 9rem;
  }
  .recipe-step-cards {
    margin: 8px 0 8px;
  }
  .recipe-step-cards-img {
    width: 100%;
  }
}
@media (max-width: 373px) {
  .recipe-img-container {
    width: auto;
    height: 188px;
    mat-icon {
      width: 32px;
      height: 32px;
      font-size: 32px;
    }
  }
  .input-file {
    visibility: hidden!important;
    width: 0!important; height: 0!important;
  }
  .recipe-index-search-keys {
    margin-left: 0;
    margin-right: 0;
  }
  .form-field {
    width: 100%;
  }
  .ingredients-container {
    width: 100%;
  }
  .create-recipe-fab {
    margin-bottom: 9rem;
  }
  .recipe-step-cards {
    margin: 8px 0 8px;
  }
  .recipe-step-cards-img {
    width: 100%;
  }
}
