<div class="recipe-create" [ngClass]="{'dark-theme' : isDarkTheme(), 'light-theme' : !isDarkTheme() }">
  <mat-tab-group mat-stretch-tabs (selectedIndexChange)="tabIndexChanged($event)" animationDuration="0ms" [selectedIndex]="tabIndex">
    <mat-tab label="Рецепт">
      <app-recipe-main></app-recipe-main>
    </mat-tab>
    <mat-tab label="Ингредиенты">
      <app-recipe-ingredients></app-recipe-ingredients>
    </mat-tab>
    <mat-tab label="Приготовление">
      <app-recipe-steps></app-recipe-steps>
    </mat-tab>
    <mat-tab label="Реклама">
      <app-recipe-ad (buySub)="buySubscription()"></app-recipe-ad>
    </mat-tab>
  </mat-tab-group>
  <button color="accent" class="create-recipe-fab pulse-fab mr-3 mr-sm-3 mr-md-4 mr-lg-5 mr-xl-5" mat-fab
          (click)="goNext()"><mat-icon>{{getFabButtonIcon()}}</mat-icon></button>
</div>


