<div mat-dialog-content class="d-flex" style="margin-right: 0!important; padding-right: 0!important;">
  <div class="d-flex flex-row">
    <mat-spinner diameter="50" color="accent"></mat-spinner>
    <p class="my-auto ml-5">{{data.message}}</p>
  </div>
</div>
