<div class="profile-container" [ngClass]="{'dark-theme' : isDarkTheme(), 'light-theme' : !isDarkTheme() }">
  <div *ngIf="!loading" class="w-100 profile-holder d-flex flex-column d-md-flex flex-md-row align-items-md-start">
    <div>
      <div class="user-avatar mt-3 mt-md-5 mx-md-5 d-flex flex-column" [ngStyle]="{'background-image': getUserAvatarUrl()}" [formGroup]="avatarGroup">
        <input id="singleFile" type="file" #file
               accept="image/*" (change)="onFileChange($event.target.files)"/>
        <span class="mx-auto mt-auto">
          <button mat-icon-button (click)="file.click()">
            <mat-icon [ngStyle]="{'color': getUserAvatarFontColor()}">add_photo_alternate</mat-icon>
          </button>
        </span>
      </div>
      <div class="user-avatar-change mb-2 d-flex flex-column mx-auto">
        <mat-progress-bar
          [ngStyle]="{'visibility': loadingFile ? 'visible' : 'hidden'}"
          class="my-2"
          color="primary"
          mode="determinate"
          [value]="downloadAvatarValue">
        </mat-progress-bar>
        <div class="text-center" [ngStyle]="{'opacity': error === 'none' ? 0 : 1}"
             style="font-size: .75rem; color: #d32f2f;">{{error}}</div>
      </div>
    </div>
    <span class="h4 mt-2 mt-md-5">{{user.email}}</span>
    <button mat-stroked-button class="router-button mb-2 mr-1 ml-md-auto mt-md-auto" [routerLink]="'/liked'">
      <mat-icon color="primary" class="mr-2">favorite</mat-icon>
      <span>Избранное {{user.likedRecipes ? user.likedRecipes.length : 0}}</span>
    </button>
    <button mat-stroked-button class="router-button mb-2 mr-1 mr-md-2 mt-md-auto" [routerLink]="'/added'">
      <mat-icon color="primary" class="mr-2">cloud_upload</mat-icon>
      <span>Добавленные {{user.ownRecipes ? user.ownRecipes.length : 0}}</span>
    </button>
    <button mat-stroked-button class="router-button mb-2 mx-1 mx-md-4 mt-md-auto" color="warn" (click)="userExit()">Выйти</button>
  </div>
  <div class="d-flex flex-column mt-2 mt-md-3">
    <mat-card *ngIf="checkSubscription()" class="sub-bc mx-auto mat-elevation-z8">
      <mat-card-content class="d-flex flex-column m-3">
        <p class="text-center">Подписка оформлена</p>
        <p class="text-center">Дата окончания подписки</p>
        <p class="text-center">{{getSub().endDate | date}}</p>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="!checkSubscription()" class="sub-bc mx-auto mat-elevation-z8">
      <mat-card-content class="d-flex flex-column m-3">
        <p class="mx-auto">Нет активных подписок</p>
        <button class="mx-auto mt-2" color="accent" mat-stroked-button (click)="buySubscription()">Оформить подписку</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="loading" class="center-spinner w-100">
    <mat-spinner class="mx-auto" diameter="50" color="accent"></mat-spinner>
  </div>
</div>
