.profile-container {
  //padding-bottom: 4.5rem;
}
.profile-holder {
  background: radial-gradient(ellipse at top left, #4a63ff, transparent),
    radial-gradient(ellipse at bottom right, #ffd2ac, transparent);
}
.user-avatar-change {
  width: 192px;
  height: 50px;
}
.user-avatar {
  width: 192px;
  height: 192px;
  border-radius: 50%;
  box-shadow: 0 0 8px 0 #303f9f;
  background-size: cover;
  input {
    visibility: hidden;
  }
}
.liked-recipes, .own-recipes {
  width: 200px;
  height: 150px;
  color: aliceblue;
  font-size: 2.5rem;
  mat-icon {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 3.5rem;
  }
}
.liked-recipes:hover, .own-recipes:hover {
  cursor: pointer;
}
.center-spinner {
  position: absolute;
  left: 0;
  top: 50%;
}
.dark-theme {
  .sub-bc {
    background-color: #232323;
  }
}
@media (min-width: 413px) and (max-width: 767px) {
  .profile-container {
    //padding-bottom: 6.5rem;
  }
  .profile-holder {
    .router-button {
      width: 224px;
    }
  }
  .user-avatar-change {
    height: 25px;
  }
}
@media (min-width: 374px) and (max-width: 412px) {
  .profile-container {
    //padding-bottom: 6.5rem;
  }
  .profile-holder {
    .router-button {
      width: 224px;
    }
  }
  .user-avatar-change {
    width: 192px;
    height: 25px;
  }
}
@media (max-width: 373px) {
  .profile-container {
    //padding-bottom: 6.5rem;
  }
  .profile-holder {
    .router-button {
      width: 224px;
    }
  }
  .user-avatar-change {
    width: 192px;
    height: 25px;
  }
}
