@import "~@angular/material/theming";
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Pacifico|Roboto&display=swap');

@include mat-core();

@import "theme";

.light-theme {
  @include angular-material-theme($my-theme);
}

.dark-theme {
  @include angular-material-theme($my-dark-theme);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: normal;
  background-color: #fbf5f3 !important;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1, h2, h3, h4 {
  font-weight: normal;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: normal;
  background-color: #fbf5f3 !important;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.star-not-filled {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 1rem;
  color: #eef4fb;
}
.star-full {
  cursor: pointer;
  color: #fec100;
}
.star-half {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #fec100;
}
