$my-primary: mat-palette($mat-indigo, 700);
$my-accent:  mat-palette($mat-pink, A200, A100, A400);
$my-warn:    mat-palette($mat-red, 700);
$my-theme: mat-light-theme($my-primary, $my-accent, $my-warn);

$my-dark-primary: mat-palette($mat-yellow);
$my-dark-accent: mat-palette($mat-amber, A400, A100, A700);
$my-dark-warn: mat-palette($mat-red, 700);
$my-dark-theme: mat-dark-theme($my-dark-primary, $my-dark-accent, $my-dark-warn);
