<div class="ex_container row" [formGroup]="regForm">
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 mx-auto">
    <mat-form-field class="w-100">
      <input matInput placeholder="Введите почтовый адрес" required formControlName="email"
             (keyup.enter)="authRequest()">
      <mat-error *ngIf="email.invalid">{{getErrorMsgEmail()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Введите пароль" required [type]="hide ? 'password' : 'text'" formControlName="password"
             (keyup.enter)="authRequest()">
      <mat-error *ngIf="password.invalid">{{getErrorMsgPassword()}}</mat-error>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="Подтвердите пароль" required [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword"
             (keyup.enter)="authRequest()">
      <mat-error *ngIf="confirmPassword.invalid">{{getErrorConfirmMsgPassword()}}</mat-error>
      <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </div>
  <div class="col-10 col-sm-6 col-md-4 col-lg-3 col-xl-3 mx-auto mt-4 row justify-content-center">
    <button mat-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-button color="accent" (click)="authRequest()">Зарегестрироваться</button>
  </div>
</div>
